<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${TOPJAVA_ROOT}/log/topjava.log</file>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{50}.%M:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%class{50}.%M:%L) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.javawebinar.topjava" level="debug"/>
    <!--<logger name="org.springframework.web.servlet" level="debug"/>-->
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="debug"/>


    <category name="org.hibernate.type">
        <priority value="TRACE"/>
    </category>

<!--    <logger name="org.hibernate.SQL" > <level value="debug"/> </logger>-->
<!--    <logger name="org.hibernate.stat" > <level value="debug"/> </logger>-->
<!--    <logger name="org.hibernate.type" > <level value="trace"/> </logger>-->
<!--    <logger name="org.hibernate.SQL" additivity="false" >-->
<!--        <level value="DEBUG" />-->
<!--        <appender-ref ref="SQLROLLINGFILE" />-->
<!--    </logger>-->

<!--    <logger name="org.hibernate.type" additivity="false" >-->
<!--        <level value="TRACE" />-->
<!--        <appender-ref ref="SQLROLLINGFILE" />-->
<!--    </logger>-->

    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>
</configuration>
