table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

td {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    width: 33%;
}

.highlight_red {
    color: red;
}

.highlight_green {
    color: green;
}

th  {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    padding: 10px;
    background-color: darkcyan;
}